<!DOCTYPE html>
<html>
<head>
    <title>Acortador de Enlaces</title>
</head>
<body>
    <h1>Acortador de Enlaces</h1>
    <form action="/shorten" method="post">
        <label for="long_url">Ingrese el enlace que desea acortar:</label><br>
        <input type="text" id="long_url" name="long_url" required><br>
        <input type="submit" value="Acortar">
    </form>
    {% if short_url %}
        <p>Enlace acortado: <a href="{{ short_url }}" target="_blank">{{ short_url }}</a></p>
    {% endif %}
</body>
</html>
