<!DOCTYPE html>
<html>
<head>
    <title>Acortador de Enlaces</title>
</head>
<body>
    <h1>Acortador de Enlaces</h1>
    <form action="/shorten" method="post">
        <label for="long_url">Ingrese el enlace que desea acortar:</label><br>
        <input type="text" id="long_url" name="long_url" required><br>
        <input type="submit" value="Acortar">
    </form>
    <?php if(isset($short_url)): ?>
        <p>Enlace acortado: <a href="<?php echo $short_url; ?>" target="_blank"><?php echo $short_url; ?></a></p>
    <?php endif; ?>
</body>
</html>
